<!DOCTYPE html>
<html>
    <head>
        <title>Buyback Management</title>
        @Styles.Render("/Scripts/app/jspm_packages/npm/font-awesome@4.4.0/css/font-awesome.min.css")
        @Styles.Render("/Scripts/app/styles/styles.css")
        @RenderSection("Styles", false)
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    @RenderBody()
    @RenderSection("Scripts", false)
    <script>
        System.import('aurelia-bootstrapper');
    </script>
    @*<script type='text/javascript' id="__bs_script__">
        //<![CDATA[
            document.write("<script async src='//HOST:3000/browser-sync/browser-sync-client.1.9.2.js'><\/script>".replace(/HOST/g, location.hostname).replace(/PORT/g, location.port));
        //]]>
    </script>*@
</body>
</html>